<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Chore App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chores/styles.css' %}">

</head>
<body>
    <div class="corner-nav">
        <div class="corner-center">
            <a href="{% url 'chore_assignments' %}" class="corner-button">Assignments</a>
            {% if request.session.is_admin %}
                <a href="{% url 'modify_chores' %}" class="corner-button">Modify Chores</a>
                <a href="{% url 'rotate_chores' %}" class="corner-button">Rotate Chores</a>
            {% endif %}
            {% if request.session.user_name %}
                <a href="{% url 'logout' %}" class="corner-button logout-button">Logout</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>